html,
body {
    margin: 0;
}
.App {
    display: flex;
    flex-direction: row;
    /* Primary Colors */
    --color-deep-blue: #01203d;
    --color-light-blue: #4285f4;
    --color-light-grey: #d3d3d3;
    --color-dark-grey: #202020;

    /* Secondary Colors */
    --color-light-green: #b6e8a0;
    --color-dark-green: #3c802d;
    --color-light-yellow: #fee12b;
    --color-dark-yellow: #eaa221;

    /* Button Colors */
    --color-button-background: var(--color-deep-blue);
    --color-button-disabled: var(--color-light-grey);
    --color-button-text: var(--color-light-blue);
    --color-button-text-disabled: var(--color-dark-grey);
    --color-button-hover: var(--color-light-grey);
    --color-button-active: var(--color-light-blue);

    /* Diagram Border Colors */
    --color-border: var(--color-dark-grey);

    /* Highlight Colors */
    --color-shape-outline: var(--color-dark-grey);
    --color-fill: var(--color-light-green);
    --color-fill_alt: var(--color-light-yellow);
}

html,body,#root,.App {
height: 100%;
}

.scroll {
    overflow: scroll;
}
.scroll-content {
    width: 1000px;
    height: 1000px;
}

.toolbar {
    width: 40%;
    max-width: 40%;
    min-width: 40%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-direction: row;
}

.info {
    font-size: 2.5vh;
}

button {
    padding: 1vh;
    border: none;
    border-radius: 1vh;
    background-color: var(--color-button-background);
    color: var(--color-button-text);
    font-size: 2.5vh;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: .5vh;
}

button:disabled {
    background-color: var(--color-button-disabled);
    color: var(--color-button-text-disabled);
    pointer-events: none;
}

button:hover {
    background-color: var(--color-button-hover);
}

button:active {
    background-color: var(--color-button-active);
}
